<%- include("Partials/Header.ejs")%>
<body>
    <header>
        <h1>Community Culture</h1>
    </header>
    <main>
        <div class="card">
            <h1>Inspiration</h1>
            <h2>Inspiration is the source of all motivation</h2>
            <button type="submit" formmethod="post" class="button" onclick="window.location.href='InspirationPost3'">Read Article</button>
            <div class="accents"></div>
            <div class="acc-card"></div>
        </div>
    </main>
    <section>
        <div>
            <h1>Inspiration <%=name%> </h1>
            <h2>Inspiration is the source of all motivation</h2>
            <button type="submit" formmethod="post" class="button" onclick="window.location.href='About'">About The Community</button>
            <div class="accents"></div>
            <div class="acc-card"></div>
        </div>
    </section>

    <!-- JavaScript (deferred) -->
<!--    <script src="script.js" defer></script> -->
</body>
<%- include("Partials/Footer.ejs")%>