<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Culture</title>
    <link href="/.Public/.Styles.css" rel="stylesheet" type="text/css">
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/About">About</a>
    </nav>
</header>
<body>
