<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <title>Community Culture</title>
    <link href="/.Public/.Styles.css" rel="stylesheet" type="text/css">
</head>
<header>
    <nav class="header-nav">
        <a href="/">Home</a>
        <a href="/About">About</a>
    </nav>
</header>

